USE [master]
GO
/****** Object:  Database [EMPLOYEE_MANAGER]    Script Date: 12/30/2021 9:46:24 PM ******/
CREATE DATABASE [EMPLOYEE_MANAGER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMPLOYEE_MANAGER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EMPLOYEE_MANAGER.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EMPLOYEE_MANAGER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EMPLOYEE_MANAGER_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPLOYEE_MANAGER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMPLOYEE_MANAGER]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 12/30/2021 9:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[IDDepartment] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NULL CONSTRAINT [DF_Department_DepartmentName]  DEFAULT (N'Tên Phòng Ban'),
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[IDDepartment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/30/2021 9:46:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[IDEmployee] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](50) NULL CONSTRAINT [DF_Employee_EmployeeName]  DEFAULT (N'Tên Nhân Viên'),
	[IDDepartment] [int] NULL,
	[DataOfJoining] [date] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[IDEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([IDDepartment])
REFERENCES [dbo].[Department] ([IDDepartment])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã Phòng Ban' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Department', @level2type=N'COLUMN',@level2name=N'IDDepartment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên Phòng Ban' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Department', @level2type=N'COLUMN',@level2name=N'DepartmentName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã Nhân Viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Employee', @level2type=N'COLUMN',@level2name=N'IDEmployee'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên Nhân Viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Employee', @level2type=N'COLUMN',@level2name=N'EmployeeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã Phòng Ban' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Employee', @level2type=N'COLUMN',@level2name=N'IDDepartment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày Tham Gia' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Employee', @level2type=N'COLUMN',@level2name=N'DataOfJoining'
GO
USE [master]
GO
